<div class="ibox-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="height: 650px; overflow-y: auto;">
                <div class="ibox-title">
                    <h5>Asignar Tarea</h5>
                </div>
                <div class="ibox-content">


                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-md-2" for="nombre"> Tarea</label>
                            <div class="col-md-10">
                                <input class="form-control" id="tarea" required name="tarea" type="text" value="@ViewBag.tarea" readonly>

                                <input type="hidden" value="@ViewBag.tarea" id="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="nombre">Estado</label>
                            <div class="col-md-10">
                                <select id="estado" name="estado" class="form-control" required style="margin-left:0" onchange="ddlAsignacion()">
                                    <option value="">SELECCIONE</option>
                                    @foreach (var item in ViewBag.estado)
                                    {
                                        <option value="@item.ID_ESTADO">@item.NOMBRE_ESTADO</option>
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2" for="Rut">Descripcion </label>

                                <input class="form-control" id="descripcion" required name="descripcion" type="text" value="">

                            </div>
                        </div>
                        <div id="DivArea">

                            <div class="form-group">
                                <label class="control-label col-md-2" for="nombre">Area</label>
                                <div class="col-md-10">
                                    <select id="area" name="area" class="form-control" required style="margin-left:0" onchange="ddListChange()">
                                        <option value="">SELECCIONE</option>
                                        @foreach (var item in ViewBag.area)
                                        {
                                            <option value="@item.ID_AREA">@item.NOMBRE_AREA</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="responsableVistaParcial">
                            <div class="form-group">
                                <label class="control-label col-md-2">Responsable</label>
                                <div class="col-md-10">

                                    <select id="responsable" class="form-control" style="width:200px">
                                        <option value="">SELECCIONE</option>
                                    </select>
                                </div>
                            </div>

                        </div>


                        <div class="form-group" id="caja_botones">
                            <div class="col-md-offset-2 col-md-10">
                                <input value="Crear" class="btn btn-primary" onclick="return Ingreso();" />

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/SweetAlert/sweetalert.js"></script>
<link href="~/Content/SweetAlert/sweetalert.css" rel="stylesheet" />

<script type="text/javascript">


    $(document).ready(function () {

        $("#responsableVistaParcial").hide();
        $("#DivArea").hide();


    })



    function ddlAsignacion() {


        if ($("#estado").val() == 1) {

            $("#responsableVistaParcial").show();
            $("#DivArea").show();
        }
        if ($("#estado").val() == 2) {

            $("#responsableVistaParcial").hide();
            $("#DivArea").hide();
        }

        if ($("#estado").val() == 3) {

            $("#responsableVistaParcial").hide();
            $("#DivArea").hide();
        }



    }


    function Ingreso() {
        //VALIDA MAIL

        if ($("#descripcion").val() == "") {

            swal({
                title: "Debe ingresar Descripcion.",
                type: "warning",
                confirmButtonColor: "#DD6B55",
                closeOnConfirm: false
            });

            $("#descripcion").attr("required", true);

            if (!$.trim($("#descripcion").val())) { $("#descripcion").css('border', '1px solid red') } else { $("#descripcion").css('border', '1px solid green') }
            return false;
        }

        if ($("#estado").val() == "") {

            swal({
                title: "Debe ingresar Estado.",
                type: "warning",
                confirmButtonColor: "#DD6B55",
                closeOnConfirm: false
            });

            return false;
        }


        swal({
            title: "¿ Desea Finalizar ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Continuar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false
        }, function () {

            $.ajax({
                type: "POST",
                url: "FinalizarTareaPost",

                data: {
                    descripcion: $("#descripcion").val(),
                    tarea: $("#hidden").val(),
                    estado :$("#estado").val(),


                },

            }).done(function (data) {

                if (data.Result == "OK") {

                    swal({
                        title: "Tarea Finalizada: ",

                        text: "Tarea Finalizada Satisfactoriamente",

                        type: "success"
                    }, function () {
                        window.location.href = '/TAREAS/Index/'

                    });

                }

                else if (data.Result == "ERROR") {
                    swal({
                        title: "Error ",
                        text: "Transacción no realizada",
                    }

                        , function () {
                            // location.reload();
                        });
                }

            }).fail(function () {

                alert("Ups, algo malo ocurre, favor inténtalo mas tarde!.");
            })
        });
    }

    function ddListChange() {

        $.ajax({
            type: "POST",
            url: '/TAREAS/_DesplegableResposanble',
            data: {
                area: $("#area").val()
            },
            success: function (data) {

                $("#responsableVistaParcial").html(data);

            }
        }).fail(function () {
            alert("Ups, algo malo ocurre, favor intémtalo mas tarde!.");
        })

    }

</script>
